* {
  scroll-behavior: smooth;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 100%;

  margin: auto;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
