.container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: #caf0f8;
}
.cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 0;
  gap: 5rem;
}

.project_card {
  display: flex;
  width: 40%;
  font-size: 12px;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0.5rem;
}

.project_card_left {
  width: 90%;
}
.img_and_text {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 100%;
}
.card_title {
  color: #211a2c;
}
.text {
  padding: 2rem 2rem;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;
  padding-left: 2rem;
}

.first_img {
  width: 5rem;
  height: 5rem;
}

.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #415a77;
  padding-top: 1rem;
  width: 25rem;
  height: 100%;
  border-top-left-radius: 0.4rem;
  gap: 1rem;
}

.text {
  text-align: left;
}
.title {
  align-items: center;
  color: black;
}
.button_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button_box_span {
  margin: 0 1rem;
  cursor: pointer;
  color: #4d4c7d;
  text-decoration: none;
}
