.container {
  align-items: center;
  display: grid;
  grid-template-rows: 60% 40%;
  justify-content: space-evenly;
  background-color: #4d4c7d;
  min-height: 100vh;
  flex-direction: column;
  padding: 2rem 0;
  color: white;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5em + 0.4vw);
}

.technologies_container {
  display: flex;

  width: 100%;

  /* border: solid 1px red; */
  height: 100%;
  flex-direction: column;
}
.technologies_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: solid 1px red; */
}

.time_line {
  /* border: solid 1px red; */

  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100%;
}

.technologies_icon {
  font-size: 3rem;
}
